// Add your custom CSS here.
// font
body {
  font-family: "Arial", sans-serif;
// centralizando
header__row {
  width: 100%;
  background-color: whitesmoke  !important
}

.product__name {
  font-size: 1.5rem;

}

strong.prices__value{

  font-size: 1.5rem  !important
} 
span.variations__grid-title h5 {
  font-size: 1rem  !important
}
span.variations__value {

display: none !important
}

.gallery {
  display: flexbox !important
   
}
